#Button {
    --fxbackground-color: black;
}

.mainBtn {
    -fx-min-width: 200px;
    -fx-font-size: 1.4em;
    -fx-min-height: 40px;
    -fx-background-radius: 18px;
    -fx-border-color: #440D0F;
    -fx-border-radius: 18px;
}

.navBtn {
    -fx-min-width: 180px;
}

.mainBtn:focused, navBtn:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 0, 1, 2;
}

.mainScene {
    --fxbackground-color: #AF9BB6;
}

.rightMenuBox {
    -fx-min-width: 200px;
    -fx-min-height: 100%;
    -fx-border-radius: 1px;
    -fx-border-color: #191716;
    -fx-border-insets: 5;
    -fx-border-width: 1;
}

.mainTextField {
    -fx-min-width: 180px;
    -fx-min-height: 40px;
    -fx-background-radius: 18px;
    -fx-border-color: #AF9BB6;
    -fx-border-radius: 18px;
}

.mainGameNavigationButton {
    -fx-min-width: 300px;
    -fx-font-size: 1.5em;
    -fx-min-height: 64px;
    -fx-background-radius: 18px;
    -fx-border-color: #440D0F;
    -fx-border-radius: 18px;
}

.gameStartBtn {
    -fx-min-width: 300px;
    -fx-font-size: 1.5em;
    -fx-min-height: 64px;
    -fx-background-radius: 18px;
    -fx-border-color: #0B6E4F;
    -fx-border-radius: 18px;
}

.hBox {
    -fx-min-width: 300px;
}

.secondaryLabel {
    -fx-min-height: 40px;
    -fx-min-width: 220px;
    -fx-font-size: 1.1em;
}

.spinner {
    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
    -fx-min-height: 40px;
    -fx-max-width: 80px;
}

.colorPicker {
    -fx-min-height: 40px;
    -fx-max-width: 80px;
}

.toggle {
    -fx-min-height: 40px;
    -fx-min-width: 300px;
}